@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap'); */

/* :root {
    --main-colorpurple: rgb(159, 159, 248);
    --main-colorblue: #37b9f1;
    --main-colorwhite: #f2f5f5;
    --text-colorGrey: #777;
    --text-colorLight: #e1dfe9;
    --text-colorBlue: rgb(0, 0, 255);
    --lengthSm1: 0.25rem;
    --lengthSm2: 0.375rem;
    --lengthSm3: 0.5rem;
    --lengthMd1: 1rem;
    --lengthMd2: 1.25rem;
    --lengthMd3: 1.5 rem;
    --lengthLg1: 2rem;
    --lengthLg2: 3 rem;
    --lengthLg3: 4 rem;
    --button: rgb(205, 205, 205);
    --hoverbutton: grey;
    --border: .1em solid #222;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --box-shadow-hover: inset 0 -5px 0 0 rgb(0, 0, 0);
    --text-shadow: 2px 2px var(--main-color);
} */

* {
  
  font-family: Arial, Helvetica, sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

p{
  text-align: justify;
  font-size: medium;
}

h1.header-one{
  margin: 10px;
  font-weight: 700;
  color: black;
  font-size: 3rem;
}

.whitebg {
  background-image: url("../files/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.blackbg {
  background-image: url("../files/background_black.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  padding: 10px;
}

.status {
    width: 100px;
    height: 30px;
    position: relative;
    background: #3885e4;
    font-size: large;
    text-align: center;
    padding-top: 2px;
    color:white;
  }

.status:before {
    content: "";
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 15px solid #3885e4;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

div.bg-blur{
  background-color: white; /* Fallback color */
  opacity: 0.8;
}

div.bg-darkblur{
  background-color: white; /* Fallback color */
  opacity: 0.9;
}

@media only screen and (max-width: 430px) {

  .whitebg {
    background-image: url("../files/background.jpeg");
    background-repeat: no-repeat;
    background-position: right -100px center;
  }
  
  .blackbg {
    background-image: url("../files/background_black.jpeg");
    background-repeat: no-repeat;
    background-position: right -200px center;
  }

  p{
    font-size: small;
  }
}



